@use '@styles/mixins' as *;
@use '@styles/variables' as *;
@use '@styles/buttons' as *;
@use '@styles/inputs' as *;
@use '@styles/form' as *;

.auth {
  min-height: 100vh;
  @include flex(center, center, column);
  gap: 16px;
  padding-top: 15vh;
  padding-bottom: 70px;
  background-color: map-get($neutral, 800);

  &__logo {
    @include flex(center, center, row);
    gap: 6px;
    position: absolute;
    top: 4%;
    left: 4%;

    .icon {
      font-size: 32px;
      width: 1em;
      height: 1em;
      fill: map-get($primary, base);
    }

    .text {
      font-size: map-get($h4, font-size);
      font-weight: map-get(map-get($h5, font-weight), medium);
      color: map-get($neutral, 100);
    }
  }

  &__language {
    position: absolute;
    top: 4%;
    right: 4%;
    width: 120px;
  }

  &__header {
    text-align: center;
    .title {
      font-size: map-get($h1, font-size);
      font-weight: map-get(map-get($h1, font-weight), medium);
      line-height: map-get($h1, line-height);
      color: map-get($neutral, 100);
    }
    .description {
      color: map-get($neutral, 400);
    }
  }

  &__login {
    @include form-style(400px);
  }

  &__register {
    @include form-style(500px);
  }

  .errors {
    @include flex(center, center, column);
    gap: 4px;
    p {
      color: $error;
    }
  }
}
