@use '@styles/mixins' as *;
@use '@styles/variables' as *;
@use '@styles/buttons' as *;
@use '@styles/inputs' as *;
@use '@styles/form' as *;

.auth {
  min-height: 100vh;
  @include flex(center, center, column);
  gap: 16px;
  padding-block: 40px;
  background-color: map-get($neutral, 800);

  &__language {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 120px;
  }

  &__header {
    text-align: center;
    .title {
      font-size: map-get($h1, font-size);
      font-weight: map-get(map-get($h1, font-weight), medium);
      line-height: map-get($h1, line-height);
      color: map-get($neutral, 100);
    }
    .description {
      color: map-get($neutral, 400);
    }
  }

  @include form-style(400px);

  .errors {
    @include flex(center, center, column);
    gap: 4px;
    p {
      color: $error;
    }
  }
}
