@use '@styles//mixins' as *;
@use '@styles/variables' as *;
@use '@styles/colors' as *;
@use '@styles/buttons' as *;
@use '@styles/inputs' as *;

.auth {
  min-height: 100vh;
  @include flex(center, center, column);
  padding-block: 50px;
  gap: 18px;

  &__language {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 140px;
  }

  &__header {
    text-align: center;
    h1 {
      font-size: map-get($h1, font-size);
      font-weight: map-get($h1, font-weight);
      line-height: map-get($h1, line-height);
      color: $text-heading;
    }
    p {
      color: $text-secondary;
    }
  }

  .form {
    @include flex(space-between, center, column);
    width: 400px;
    gap: 20px;

    &__input {
      @include input-style;
    }

    &__submit {
      @include button-style($primary-normal, $white, none);
    }

    &__redirect {
      color: $text-secondary;
      a {
        color: $primary-normal;
        text-decoration: none;
        &:hover {
          color: $primary-hover;
        }
      }
    }
  }

  .errors {
    @include flex(center, center, column);
    gap: 4px;
    p {
      font-size: 14px;
      color: $error-normal;
    }
  }
}
