@use '@styles/variables.scss' as *;
@use '@styles/mixins.scss' as *;
@use '@styles/table.scss' as *;
@use '@styles/form' as *;

.posts {
  @include flex(flex-start, flex-start, column);
  width: $width;
  gap: 32px;
  padding-bottom: 72px;

  &__header {
    font-size: map-get($h1, font-size);
    font-weight: map-get(map-get($h1, font-weight), medium);
    line-height: map-get($h1, line-height);
    color: map-get($neutral, 100);
  }

  &__table {
    width: 100%;
    @include table-style();
  }

  @include respond-to('sm') {
    width: $width-sm;
  }

  @include respond-to('md') {
    width: $width-md;
  }

  @include respond-to('lg') {
    width: $width-lg;
  }

  @include respond-to('xl') {
    width: $width-xl;
  }

  @include respond-to('2xl') {
    width: $width-2xl;
  }
}

.posts-create,
.posts-edit {
  @include flex(center, flex-start, column);
  min-height: 100%;
  gap: 8px;

  &__header {
    @include flex(space-between, center, row);
    width: 100%;
    .title {
      font-size: map-get($h3, font-size);
      font-weight: map-get($h3, font-weight);
      line-height: map-get($h3, line-height);
      color: map-get($neutral, 100);
    }

    .icon {
      width: 1em;
      height: 1em;
      font-size: 32px;
      fill: map-get($neutral, 100);
      cursor: pointer;
      transition: fill 0.2s ease;

      &:hover {
        fill: map-get($neutral, 400);
      }
    }
  }

  @include form-modal-style();
}
