@use '@styles/variables.scss' as *;
@use '@styles/mixins.scss' as *;
@use '@styles/table.scss' as *;
@use '@styles/form' as *;

.posts {
  @include flex(flex-start, flex-start, column);
  width: $width;
  gap: 32px;
  padding-bottom: 72px;

  &__header {
    font-size: map-get($h1, font-size);
    font-weight: map-get(map-get($h1, font-weight), medium);
    line-height: map-get($h1, line-height);
    color: map-get($neutral, 100);
  }

  &__table {
    width: 100%;
    @include table-style();
  }

  @include respond-to('sm') {
    width: $width-sm;
  }

  @include respond-to('md') {
    width: $width-md;
  }

  @include respond-to('lg') {
    width: $width-lg;
  }

  @include respond-to('xl') {
    width: $width-xl;
  }

  @include respond-to('2xl') {
    width: $width-2xl;
  }
}

.posts-create,
.posts-edit {
  padding-bottom: 72px;
  @include flex(center, center, column);
  gap: 16px;

  &__header {
    text-align: center;
    .title {
      font-size: map-get($h1, font-size);
      font-weight: map-get(map-get($h1, font-weight), medium);
      line-height: map-get($h1, line-height);
      color: map-get($neutral, 100);
    }
  }

  @include form-style(450px);
}
