@use '@styles/variables.scss' as *;
@use '@styles/mixins.scss' as *;
@use '@styles/charts.scss' as *;

.dashboard {
  width: $width-sm;
  @include flex(flex-start, flex-start, column);
  gap: 32px;
  padding-bottom: 72px;

  &__header {
    font-size: map-get($h1, font-size);
    font-weight: map-get(map-get($h1, font-weight), medium);
    line-height: map-get($h1, line-height);
    color: $text-heading;
  }

  &__charts {
    width: 100%;
    @include flex(space-between, flex-start, column);
    gap: 32px;

    .charts-top {
      @include flex(space-between, flex-start, row);
      gap: 16px;
      width: 100%;
      height: 450px;

      .bar-chart {
        @include bar-chart-style(100%, 100%);
      }
    }

    .charts-middle {
      @include flex(center, center, row);
      gap: 16px;
      width: 100%;
      height: 490px;

      .wrapper {
        @include flex(center, flex-start, column);
        width: 100%;
        height: 100%;
        gap: 16px;

        .bar-chart {
          @include bar-chart-style(80%, 100%);
        }

        .stats {
          @include stats-style(row, 20%, 100%);
        }
      }
    }

    .chart-bottom {
      width: 100%;
      height: 500px;
      @include flex(flex-start, flex, column);
      gap: 16px;

      .stats {
        @include stats-style(row, 23%, 100%);
      }

      .bar-chart {
        @include bar-chart-style(75%, 100%);
      }
    }

    .pie-chart {
      @include pie-chart-style();
    }
  }

  @include respond-to('md') {
    width: $width-md;
  }

  @include respond-to('lg') {
    width: $width-lg;
  }

  @include respond-to('xl') {
    width: $width-xl;
  }
}
