$background-dark: #0e0e0e;
$background-soft: #47555e;
$white: #eeeeee;
$accent: #067dde;

$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;

$header: 60px;

$font-normal: 400;
$font-semibold: 600;
$font-bold: 700;
