@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "variables";
@import "mixins";
@import "register";

* {
  font-family: "Poppins", serif;
  font-size: $text-base;
  line-height: 1.5;
  font-weight: $font-normal;

  color: $white;
  background-color: $background-dark;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100vh;
  @include flex(center, center, column);
}
