@use 'variables';
@use 'mixins';

* {
  font-family: 'Poppins', serif;
  font-size: variables.$text-base;
  line-height: 1.5;
  font-weight: variables.$font-normal;

  color: variables.$white;
  background-color: variables.$background-dark;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  min-height: 100vh;
  @include mixins.flex(center, center, column);
  padding-block: 50px;
}
