@use './variables.scss' as *;
@use './mixins.scss' as *;

@mixin button-style($width) {
  font-size: map-get($text-button, font-size);
  font-weight: map-get($text-button, font-weight);
  line-height: map-get($text-button, line-height);
  text-transform: map-get($text-button, text-transform);
  text-decoration: none;
  text-align: center;
  color: map-get($neutral, 100);
  width: $width;
  padding: 10px;
  border: none;
  border-radius: $border-radius;
  outline: none;
  cursor: pointer;
  background: $gradient;
  background-size: 200% auto;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-position: right center;
  }
}

@mixin button-sidebar-style {
  @include flex(flex-start, center, row);
  gap: 8px;
  text-decoration: none;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: $border-radius;
  background: transparent;
  padding-inline: 12px;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
    background: map-get($neutral, 600);
  }

  &--active {
    box-shadow: inset 3px 0 0 0 map-get($primary, selected);
    background: map-get($neutral, 700);
    cursor: default;

    &:hover {
      background: map-get($neutral, 700);
    }
  }

  &:active {
    background: $sidebar-clicked;
  }
}
