@use './variables.scss' as *;
@use './mixins.scss' as *;

@mixin bar-chart-style($height, $width) {
  @include flex(flex-start, flex-start, column);
  width: $width;
  height: $height;
  gap: 32px;
  background: map-get($neutral, 100);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 24px;
  .header {
    width: 100%;
    @include flex(space-between, center, row);

    &__title {
      font-weight: map-get(map-get($text-body, font-weight), medium);
      color: '';
    }

    &__info {
      @include flex(space-between, center, row);
      gap: 16px;

      p {
        font-size: map-get($text-caption, font-size);
        font-weight: map-get(map-get($text-caption, font-weight), normal);
        line-height: map-get($text-caption, line-height);
        color: '';
      }
    }
  }

  &__main {
    width: 100%;
    height: 100%;

    .tooltip {
      min-width: 150px;
      text-align: center;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background: map-get($neutral, 100);
      padding: 8px 16px;

      p {
        color: '';
        font-weight: map-get(map-get($text-body, font-weight), medium);
      }

      span {
        color: '';
        font-weight: map-get(map-get($text-body, font-weight), medium);
      }
    }

    .custom-cursor {
      fill: '';
      transition: all 0.4s ease;
    }

    .custom-bar {
      fill: '';
      border-radius: 20px;
    }
  }
}

@mixin pie-chart-style {
  @include flex(center, center, column);
  width: 450px;
  height: 100%;
  padding: 24px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: map-get($neutral, 100);
  z-index: 0;

  .header {
    width: 100%;
    @include flex(flex-start, flex-start, row);
    &__title {
      text-align: left;
      font-weight: map-get(map-get($text-body, font-weight), medium);
      color: '';
    }
  }

  &__main {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex(space-between, center, column);

    .color-0 {
      fill: '';
    }

    .color-1 {
      fill: '';
    }

    .color-2 {
      fill: '';
    }

    .recharts-tooltip-wrapper {
      z-index: 1;
    }

    .total {
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      font-size: map-get($h2, font-size);
      font-weight: map-get($h2, font-weight);
      line-height: map-get($h2, line-height);

      color: '';
    }

    .custom-tooltip {
      min-width: 150px;
      text-align: center;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      background: map-get($neutral, 100);
      padding: 8px 16px;

      p {
        color: '';
        font-weight: map-get(map-get($text-body, font-weight), medium);
      }

      span {
        color: '';
        font-weight: map-get(map-get($text-body, font-weight), medium);
      }
    }
  }

  &__legends {
    @include flex(space-between, flex-start, column);
    width: 100%;
    gap: 8px;

    .color-0 {
      background: '';
    }

    .color-1 {
      background: '';
    }

    .color-2 {
      background: '';
    }

    .legend {
      @include flex(space-between, center, row);
      width: 100%;
      gap: 8px;

      &__title {
        @include flex(center, center, row);
        gap: 16px;
        .dot {
          width: 8px;
          height: 8px;
          border-radius: 100%;
        }

        .item {
          color: '';
        }
      }
    }
  }
}

@mixin stats-style($justify-content, $height, $width) {
  width: $width;
  height: $height;
  @include flex(space-between, flex-start, $justify-content);
  gap: 8px;

  .stat {
    @include flex(center, flex-start, column);
    gap: 8px;
    padding-inline: 16px;
    width: 100%;
    height: 100%;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background: white;

    &__title {
      @include flex(flex-start, center, row);
      gap: 8px;

      .icon {
        fill: '';
      }

      .text {
        font-size: map-get($text-caption, font-size);
        font-weight: map-get(map-get($text-caption, font-weight), medium);
        line-height: map-get($text-caption, line-height);
        color: '';
      }
    }

    &__result {
      font-size: map-get($h3, font-size);
      font-weight: map-get($h3, font-weight);
      line-height: map-get($h3, line-height);
      color: '';
    }
  }
}
