$white: #ffffff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$gray-1000: #000000;

$blue-100: #cbe4fe;
$blue-200: #98c6fe;
$blue-300: #65a5fe;
$blue-400: #3f87fd;
$blue-500: #0057fc;
$blue-600: #0043d8;
$blue-700: #0031b5;
$blue-800: #002292;
$blue-900: #001878;

$red-500: #ff1f25;
