@use './mixins.scss' as *;
@use './variables.scss' as *;
@use './inputs.scss' as *;
@use './buttons.scss' as *;

@mixin form-style($width) {
  .form {
    @include flex(space-between, center, column);
    width: $width;
    gap: 16px;

    &__input,
    &__select,
    &__textarea {
      width: 100%;
      &-wrapper {
        width: 100%;
        @include flex(center, flex-start, column);
        gap: 6px;
      }
      &-label {
        font-weight: map-get(map-get($text-body, font-weight), medium);
      }
      &-required {
        color: $error;
      }
      &-field {
        @include input-style(12px, 12px);
      }
      &-error {
        font-size: map-get($text-caption, font-size);
        line-height: map-get($text-caption, line-height);
        color: $error;
      }
    }

    &__textarea-field {
      resize: vertical;
      min-height: 200px;
      max-height: 400px;
    }

    &__submit {
      @include button-style(100%);
    }

    &__redirect {
      color: map-get($neutral, 100);
      a {
        color: map-get($primary, base);
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover {
          color: map-get($primary, hover);
        }
        &:active {
          color: map-get($primary, active);
        }
      }
    }
  }
}
