@use './variables.scss' as *;
@use './mixins.scss' as *;

* {
  font-family: 'Poppins', serif;
  font-size: map-get($text-body, font-size);
  line-height: map-get($text-body, line-height);
  font-weight: map-get(map-get($text-body, font-weight), regular);

  color: $text-normal;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
