@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './buttons.scss' as *;

* {
  font-family: 'Poppins', serif;
  font-size: map-get($text-body, font-size);
  line-height: map-get($text-body, line-height);
  font-weight: map-get(map-get($text-body, font-weight), regular);

  color: map-get($neutral, 100);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}

.modal-content {
  width: 1000px;
  background-color: map-get($neutral, 700);
  border-radius: $border-radius;
  padding: 40px;
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  outline: none;
}

.modal-content--delete {
  @include flex(center, center, column);
  width: 600px;
  background-color: map-get($neutral, 700);
  border-radius: $border-radius;
  padding: 40px;
  position: relative;
  max-height: 50svh;
  overflow-y: auto;
  outline: none;

  .delete {
    @include flex(center, center, column);
    gap: 32px;

    &__info {
      @include flex(center, center, column);
      text-align: center;
      gap: 8px;

      .title {
        font-size: map-get($h3, font-size);
        line-height: map-get($h3, line-height);
        font-weight: map-get($h3, font-weight);
        color: map-get($neutral, 100);
      }

      .warning {
        color: map-get($neutral, 400);

        span {
          color: map-get($neutral, 100);
          font-weight: (map-get(map-get($text-body, font-weight), medium));
        }
      }
    }

    &__buttons {
      @include flex(center, center, row);
      gap: 16px;

      .cancel {
        @include button-style(150px, $gradient);
      }

      .delete {
        @include button-style(150px, $error-gradient);
      }
    }
  }
}

.custom-toast-container {
  font-family: 'Poppins', serif;
}

.custom-toast-container .Toastify__toast--error {
  background-color: map-get($neutral, 600);
}

.custom-toast-container .Toastify__toast--info {
  background-color: map-get($neutral, 600);
}

.custom-toast-container .Toastify__toast--success {
  background-color: map-get($neutral, 600);
}
