@use './variables.scss' as *;
@use './mixins.scss' as *;

* {
  font-family: 'Poppins', serif;
  font-size: map-get($text-body, font-size);
  line-height: map-get($text-body, line-height);
  font-weight: map-get(map-get($text-body, font-weight), regular);

  color: map-get($neutral, 100);

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-toast-container {
  font-family: 'Poppins', serif;
}

.custom-toast-container .Toastify__toast--error {
  background-color: map-get($neutral, 600);
}
