@use './variables' as *;

@mixin input-style {
  width: 100%;
  background: map-get($secondary, 1);
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 12px;
  outline: none;
  transition: border-color 0.1s ease;
  &::placeholder {
    color: map-get($neutral, 400);
  }
  &:focus {
    border-color: map-get($primary, selected);
  }
  &--error {
    border-color: $error;
    &:focus {
      border-color: $error;
    }
  }
}
