@use './variables.scss' as *;
@use './sidebar.scss' as *;
@use './topbar.scss' as *;
@use './mixins.scss' as *;

.layout {
  min-height: 100vh;

  @include sidebar-style;

  .main {
    @include topbar-style;
    margin-left: $sidebar-width;
    @include flex(center, center, column);
    gap: 16px;
  }
}
