@mixin flex($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == 'sm' {
    @media (min-width: 1500px) {
      @content;
    }
  } @else if $breakpoint == 'md' {
    @media (min-width: 1600px) {
      @content;
    }
  } @else if $breakpoint == 'lg' {
    @media (min-width: 1700px) {
      @content;
    }
  } @else if $breakpoint == 'xl' {
    @media (min-width: 1800px) {
      @content;
    }
  } @else if $breakpoint == '2xl' {
    @media (min-width: 1900px) {
      @content;
    }
  }
}
