@use './variables.scss' as *;
@use './mixins.scss' as *;

@mixin selector-style() {
  .dropdown {
    position: relative;
    width: 100%;

    &__button {
      width: 100%;
      position: relative;
      @include flex(space-between, center, row);
      border: 1px solid $border-color;
      border-radius: $border-radius;
      padding: 8px;
      cursor: pointer;
      transition: border-color 0.15s ease;
      &--active {
        border-color: $primary-normal;
      }
    }

    &__options {
      width: 100%;
      position: absolute;
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      margin-top: 8px;
      @include flex(space-between, center, column);
      border: 1px solid $border-color;
      border-radius: $border-radius;
      overflow: hidden;

      a {
        width: 100%;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        &:hover {
          background: $primary-hover;
          color: $background;
        }
      }
    }
  }
}
