@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/buttons' as *;

@mixin sidebar-style {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(flex-start, flex-start, column);
    gap: 5rem;
    padding: 32px;
    height: 100%;
    width: $sidebar-width;
    background: map-get($neutral, 800);
    border: 1px solid map-get($neutral, 600);
    box-shadow: map-get($shadow, 2);
    transition: width $sidebar-close-transition ease;
    z-index: 10;

    &--closed {
      width: $sidebar-width-closed;
    }

    &__header {
      position: relative;
      width: 100%;
      @include flex(space-between, center, row);

      .toggle {
        position: absolute;
        right: 0;
        @include flex(center, center, row);
        background: $sidebar-background;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
        &:hover .icon {
          fill: map-get($primary, hover);
        }

        .icon {
          font-size: 32px;
          fill: map-get($neutral, 100);
          transition: transform 0.3s ease;
          &--closed {
            transform: scaleX(-1);
          }
        }
      }

      .logo {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        h1 {
          font-size: map-get($h3, font-size);
          color: map-get($neutral, 100);
        }

        &--closed {
          opacity: 0;
        }
      }
    }

    &__buttons {
      @include flex(center, center, column);
      width: 100%;
      gap: 8px;
    }

    &__button {
      @include button-sidebar-style;

      .text {
        font-size: map-get($text-button, font-size);
        font-weight: map-get($text-button, font-weight);
        line-height: map-get($text-button, line-height);
        text-transform: map-get($text-button, text-transform);
        color: map-get($neutral, 100);
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &--closed {
          opacity: 0;
        }
      }
    }
  }
}
