@use '@styles/variables' as *;
@use '@styles/mixins' as *;
@use '@styles/buttons' as *;

@mixin sidebar-style {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    @include flex(flex-start, flex-start, column);
    gap: 5rem;
    padding: 32px;
    height: 100%;
    width: $sidebar-width;
    background: $sidebar-background;
    transition: width $sidebar-close-transition ease;

    &--closed {
      width: $sidebar-width-closed;
    }

    &__header {
      position: relative;
      width: 100%;
      @include flex(space-between, center, row);

      .toggle {
        position: absolute;
        right: 0;
        @include flex(center, center, row);
        background: $sidebar-background;
        border: 1px solid $sidebar-hover;
        border-radius: $border-radius;
        padding: 8px;
        cursor: pointer;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: $sidebar-hover;
          background: $sidebar-hover;
        }

        &:active {
          background-color: $sidebar-clicked;
        }

        .icon {
          fill: $white;
          transition: transform 0.3s ease;
          &--closed {
            transform: scaleX(-1);
          }
        }
      }

      .logo {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

        h1 {
          font-size: map-get($h3, font-size);
          color: white;
        }

        &--closed {
          opacity: 0;
        }
      }
    }

    &__buttons {
      @include flex(center, center, column);
      width: 100%;
      gap: 8px;
    }

    &__button {
      @include button-sidebar-style;

      .text {
        font-size: map-get($text-button, font-size);
        font-weight: map-get($text-button, font-weight);
        line-height: map-get($text-button, line-height);
        text-transform: map-get($text-button, text-transform);
        color: $white;
        opacity: 1;
        transition: all 0.2s ease-in-out;

        &--closed {
          opacity: 0;
        }
      }
    }
  }
}
