@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './buttons.scss' as *;
@use './inputs.scss' as *;

@mixin table-style {
  .table {
    @include flex(center, flex-start, column);
    width: 100%;
    gap: 16px;

    &__header {
      @include flex(space-between, center, row);
      width: 100%;

      .button {
        @include button-style(150px, $gradient);
      }

      .input-wrapper {
        width: 300px;
        position: relative;

        .icon {
          position: absolute;
          left: 12px;
          top: 50%;
          transform: translateY(-50%);
        }

        .input {
          @include input-style(12px, 48px);
        }
      }
    }

    table {
      width: 100%;
      table-layout: fixed;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      border-spacing: 0;
      border-collapse: separate;
      background: map-get($secondary, 1);

      thead {
        .select-head {
          .filter-container {
            @include flex(center, center, row);
          }
        }

        .post-col {
          padding: 16px;
        }

        .start {
          width: 64px;
        }

        .center {
          text-align: center;
        }

        .username {
          width: 140px;
        }

        .options-wrapper {
          width: 120px;
        }

        th {
          text-align: left;
          margin: 0;
          padding: 8px 16px;

          .text {
            font-size: 10px;
            font-weight: map-get(map-get($text-caption, font-weight), medium);
            line-height: map-get($text-caption, line-height);
            color: map-get($neutral, 100);
          }
        }
      }

      tbody {
        .select-head,
        .center {
          text-align: center;
        }

        .options {
          @include flex(center, center, row);
          width: 100%;
          gap: 8px;

          .icon {
            width: 1em;
            height: 1em;
            fill: map-get($neutral, 400);
            font-size: 20px;
            cursor: pointer;

            transition: fill 0.2s ease;

            &:hover {
              fill: map-get($neutral, 100);
            }
          }
        }

        .second-background {
          background-color: map-get($neutral, 700);
        }

        tr {
          height: 64px;
        }

        td {
          font-size: map-get($text-caption, font-size);
          font-weight: map-get(map-get($text-caption, font-weight), regular);
          line-height: map-get($text-caption, line-height);
          color: map-get($neutral, 400);
          padding: 0px 16px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    &__pagination {
      width: 100%;
      @include flex(space-between, center, row);

      .pages {
        font-size: map-get($text-caption, font-size);
        font-weight: map-get(map-get($text-caption, font-weight), medium);
        line-height: map-get($text-caption, line-height);
        color: map-get($neutral, 100);
      }

      .active {
        @include flex(center, center, row);
        gap: 32px;

        &__buttons {
          @include flex(center, center, row);
          gap: 8px;

          button {
            @include flex(center, center, row);
            width: 30px;
            height: 30px;
            background: map-get($neutral, 700);
            border: 1px solid map-get($neutral, 600);
            border-radius: $border-radius;
            cursor: pointer;

            .icon {
              width: 1em;
              height: 1em;
              font-size: 24px;
              fill: map-get($neutral, 100);

              transition: all 0.2s ease;

              &:hover {
                fill: map-get($primary, hover);
              }

              &:active {
                fill: map-get($primary, active);
              }

              &--right {
                rotate: (180deg);
              }

              &--disabled {
                fill: map-get($neutral, 500);
                cursor: default;

                &:hover {
                  fill: map-get($neutral, 500);
                }
              }
            }
          }
        }

        &__select {
          @include flex(center, center, row);
          gap: 8px;

          .text {
            font-size: map-get($text-caption, font-size);
            font-weight: map-get(map-get($text-caption, font-weight), medium);
            line-height: map-get($text-caption, line-height);
            color: map-get($neutral, 400);
          }
        }
      }
    }
  }
}
