@use './mixins.scss' as *;
@use './variables.scss' as *;

@mixin topbar-style {
  .topbar {
    @include flex(flex-end, center, row);
    width: $width-sm;
    height: 96px;
    padding: 12px 0px;
    gap: 16px;

    &__language {
      width: 115px;
    }

    &__user {
      @include flex(space-between, center, row);
      gap: 8px;
      span {
        color: map-get($neutral, 400);
      }
    }

    @include respond-to('md') {
      width: $width-md;
    }

    @include respond-to('lg') {
      width: $width-lg;
    }

    @include respond-to('xl') {
      width: $width-xl;
    }
  }
}
