@import 'colors';

$primary-selected: $blue-100;
$primary-hover: $blue-400;
$primary-normal: $blue-500;
$primary-click: $blue-600;

$error-normal: $red-500;

$text-heading: $gray-900;
$text-normal: $gray-800;
$text-secondary: $gray-600;
$text-disable: $gray-400;

$background: $gray-100;

$border-radius: 8px;

$h1: (
  font-size: 46px,
  font-weight: 500,
  line-height: 72px
);
$h2: (
  font-size: 36px,
  font-weight: 500,
  line-height: 56px
);
$h3: (
  font-size: 30px,
  font-weight: 500,
  line-height: 48px
);
$h4: (
  font-size: 24px,
  font-weight: (
    regular: 400,
    medium: 500
  ),
  line-height: 40px
);
$h5: (
  font-size: 20px,
  font-weight: (
    regular: 400,
    medium: 500
  ),
  line-height: 32px
);
$h6: (
  font-size: 16px,
  font-weight: (
    regular: 400,
    medium: 500
  ),
  line-height: 24px
);
$text-body: (
  font-size: 14px,
  font-weight: (
    regular: 400,
    medium: 500,
    bold: 700
  ),
  line-height: 24px
);
$text-button: (
  font-size: 14px,
  font-weight: 500,
  line-height: 24px,
  text-transform: uppercase
);
$text-caption: (
  font-size: 12px,
  font-weight: (
    regular: 400,
    medium: 500
  ),
  line-height: 20px
);
